@model SinghBowlShop.Models.BowlTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    body{background-color:cornsilk;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-style:italic;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="BowlMakers" asp-action="Index">
    <p>
        <select asp-for="BowlType" asp-items="Model.Type">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BowlMakers[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BowlMakers[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BowlMakers[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BowlMakers[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BowlMakers[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BowlMakers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
